// .searchBox{
//     margin: 20px 0;
//  }
.btn-class{
    border-radius: 30px;
    height: 3rem;
    width: 6rem;
}
.btn-class:focus{
    background-color:#cca01d ;
}
.search-button {
    position: relative;
    height: 50px !important;
    // margin-left: 30.5rem;
    border: 2px solid red;
    color: black;
  }