<div style="background-color: rgb(226, 221, 221);">
    <div style=" display: flex;justify-content: space-between;">
        <div>
            <mat-form-field style="margin-top: 15px" appearance="outline">
                <mat-label>Area Filter</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="justify-content: center;display: flex;align-items: center;flex:2;">
            <input style="height: 2.7rem;flex:2;width: 100%;justify-content: center;align-items: center;border-radius: 5px;" type="text" matInput placeholder="Search">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
        </div>
        <div style="justify-content: center;display: flex;align-items: center;flex: 1;">
            <button class="btn-class" mat-raised-button>Register</button>
            <button class="btn-class" mat-raised-button>Home</button>
            <button class="btn-class" mat-raised-button>Contact Us</button>
        </div>
    </div>
</div>