<div style="overflow-x: hidden;border: 2px solid green;">
    <video style="display: flex;object-fit: fill;" width="1130" height="250" autoplay loop>
        <source src="../../../assets/homevideo.mp4" type="video/mp4" />
    </video>
    <div class="textContent">{{homePageText.content}}</div><br />
    <div class="btn">
        <button style="width:20%" mat-raised-button>
            <!-- Choose the Plan -->
        </button>
    </div>
    <mat-card class="main-card margin-spacer">
        <div class="main-container">
            <div class="left-div">
                <img style="max-width: 100%;" src="../../assets/avatar-profile.jpg"
                    alt="Profile photo">
            </div>
            <div class="right-div">
                <div class="right-txt">Profile</div>
            </div>
        </div>
    </mat-card>
</div>