html, body {
  margin: 0;
  padding: 0;
}
main-container {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  // border: 3px;
  // box-sizing: border-box;
}
.body-Content{
  ::-webkit-scrollbar {
    display: none;
}
}