<!-- <app-theme-switch></app-theme-switch> 

 <app-home></app-home> -->

<div class="main-container">
    <div style="display: flex;position: relative;height: 100vh !important;">
        <div style="width: 15%;height: 100vh !important">
            <app-sidebar></app-sidebar>
        </div>
        <div style="width: 85%;">
            <div style="height: 15vh;">
                <app-header></app-header>
            </div>
            <div style="height:70vh;overflow-y: auto;">
                <!-- <app-home></app-home> -->
                <router-outlet></router-outlet>
            </div>
            <div style="height: 15vh;background-color: transparent;">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>