<app-theme-switch></app-theme-switch> 

 <app-home></app-home>

<!-- <div class="main-container">
    <div style="display: flex;height: 100vh;">
        <div style="border: 2px solid black;max-height: 100%;width: 14%;background-color: rgb(218, 214, 214);">Left</div>
        <div style="height: 100%;border: 2px solid green;width: 86%;">
            <div><app-header></app-header></div>
            <div><app-main></app-main></div>
            <div><app-footer></app-footer></div>
        </div>
    </div>
</div> -->