<!-- <app-theme-switch></app-theme-switch> 

 <app-home></app-home> -->

<div class="main-container">
    <div style="display: flex">
        <div style="width: 15%;height: 100vh;">
            <app-sidebar></app-sidebar>
        </div>
        <div style="width: 85%;height:100vh;">
            <div style="height: 15vh;border: 1.5px solid rgb(0 150 177 / 32%);background-color: rgb(226, 221, 221);">
                <app-header></app-header>
            </div>
            <div style="height:75vh;overflow-y: auto;border: 1.5px solid rgb(0 150 177 / 32%)">
                <!-- <app-home></app-home> -->
                <router-outlet></router-outlet>
            </div>
            <div style="height: 10vh;border: 1.5px solid rgb(0 150 177 / 32%)">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>