<div style="height: 100vh">
  <div style="background-color: rgb(218, 214, 214)">
    <!-- Logo goes here in sidebar -->
    <!-- <div>
            <img style="height: 40%;width:40%" src="../../assets/avatar-profile.jpg">
        </div> -->
    <div>
      <div style="height: 90vh; border: 2px solid grey;">
        <mat-list class="mat-list-section">
          <mat-list-item class="div-label">Dashboard</mat-list-item>
          <mat-list-item class="div-label">Jewelry</mat-list-item>
          <mat-list-item class="div-label">General Store</mat-list-item>
          <mat-list-item class="div-label">Book Stall</mat-list-item>
          <mat-list-item class="div-label">Auto Mobiles</mat-list-item>
        </mat-list>
      </div>
      <div
        style="
          text-align: center;
          bottom: 0;
          color: black;
          height: 15vh;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <mat-list style="align-items: center">
          <div>Copy Rights Goes here</div>
        </mat-list>
      </div>
    </div>
  </div>
</div>
