.btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;

    .btnLayout {
        background-color: black;
        color: white;
        font-family: 'Lucida Sans';
        border-left: 30px solid white;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-right: 30px solid white;
    }
}

.card-container {
    display: flex;
    justify-content: space-evenly;

    .card-box {
        max-width: 250px;
        width: 250px;
        height: 280px;
        margin: 10px;
        background-color: #40e0d0;
        border-radius: 15px;
        overflow-y: auto !important;
        overflow-x: hidden;

        mat-card-title {
            text-align: center;
        }

        mat-card-subtitle {
            color: black;
            text-align: center;
            font-size: 14px;
        }

        mat-card-content{
            margin-top: 10px;
            list-content {
                list-style-position: outside;
                list-style-type: circle;
            }
        }

        mat-card-actions{
            display: flex;
            justify-content: center;
            button{
                background-color: black;
                color: white;
                bottom: 0;
                position: absolute;
                margin: 8px;
            }
        }
    }
}